main {
  margin-top: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circuitos {
  width: 300px;
  height: 150px;
  /*object-fit: contain;  object-fit: cover;*/
}

.pistas {
  width: 300px;
  height: 150px;
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: gallery 40s linear infinite;
  cursor: pointer;
}

.pistas span {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(500px);
  -webkit-box-reflect: below 2.5px
    linear-gradient(transparent, transparent, rgba(3, 3, 3, 0.2));

}

.pistas span img {
  position: absolute;
  border-radius: 10px;
  border: 6px ridge #ccc;
  object-fit: contain;
}

@keyframes gallery {
  from {
    transform: perspective(1000px) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateY(360deg);
  }
}

.pistas:hover {
  animation-play-state: paused;
    transform: perspective(1000px) scale(1.2); /* agranda 20% */

}
